@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#252525 ;
    height: 15vh;
}
.title{
    color: #FFFFFF;
}
figure{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 15vh;
}
.pata{
    height:5vh;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 12vw;
  }
/* main */
.banner1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 115vh;
  background-image: url("./assets/cachorro1.jpg");
  background-size: cover;
  background-position: center;
  }
.pata1{
  width: 9vw;
  height: 16vh;
  background-image: url("./assets/logo.png");
  background-size: 100% 100%;
  margin-bottom: 40vh;
}
.text1{
  width: 32vw;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  color: #FFFFFF;
}
/* cachorro 2 */
.banner2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 140vh;
  background-image: url("./assets/cachorro2.jpg");
  background-size: cover;
  background-position: center;
  
  }
.title2{
  margin-bottom: 15px;
  font-size: 49px;
  font-weight: 700;
  color: #3A342F;
  margin-left: 3vw;
  }
.text2{
  white-space: pre-line;
  width: 35vw;
  margin-bottom: 5vh;
  font-size: 27px;
  font-weight: 400;
  color: #3A342F;
  margin-left: 3vw;
}
.call{
  width:15vw ;
  height: 9vh;
  font-size:24px ;
  font-weight: 700;
  margin-left: 3vw;
  background-color:#3A342F ;
  color: #FFFFFF;
  border-radius: 44px;
}
/* cachorro3 */

.banner3{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
  height: 140vh;
  height: 140vh;
  background-image: url("./assets/cachorro3.jpg");
  background-size: cover;
  background-position: center;
  }
.title3{
  margin-left: 15vw;
  margin-top: 5vw;
  font-size: 49px;
  font-weight: 700;
  color: #FFFFFF;

  }
.text3{
  white-space: pre-line;
  font-size: 27px;
  font-weight: 400;
  color:#FFFFFF;
  margin-left: 31vw;
} 
.call2{
  width:15vw ;
  height: 9vh;
  font-size:24px ;
  font-weight: 700;
  margin-left: 10vw;
  margin-top: 3vw;
  background-color:#FFFFFF ;
  color:#3A342F ;
  border-radius: 44px;
  border: #FFFFFF;
}
.apoio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
}
.title4{
  font-size: 20px;
  color: #FD6A9A;
}
.patrocinador{
  color: #FD6A9A;
}
/* footer */
.baseboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 55vh;
  padding-left: 6vw;
  gap: 13vw;
  background: #eb4a7b;
}

.baseboard-logo,
.baseboard-socials {
  display: none;
}

.info-site-title {
  margin-bottom: 6vh;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.navigation-links {
  display: flex;
  flex-direction: column;
}

.links {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.links:hover {
  opacity: 0.7;
  transform: scale(105%);
}
@media screen and (max-width:500px ){

  .logoh{
    margin-left: 5vw;
    height: 25vh;
  }
  .pata{
    height: 10vh;
  }  
  .youtube,
  .insta {
    display: none;
   }
   .whats{
    width:13vw ;
    margin-right: 5vw;
   }
.title{
  margin-left: 1vw;
  font-size: 8vw;
}
/* main */
.banner1{
  background-image: url(./assets/cachorro1web.png);
  background-size: 100% 100%;
}
.text1{
  font-size: 25px;
  text-align: center;
}
.pata1{
  width: 24vw;
  height: 24vh;
}
/* cachorro2 */
 




  
}








 


  

  