*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#252525 ;
    height: 15vh;
}
h1{
    color: white;
}
figure{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 15vh;
}

.pata{
    height:5vh;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 12vw;
  }


 .banner1{
    height: 140vh;
    background-image: url("./assets/cachorro1.jpg");
    background-size: cover;
    background-position: top;
   
  }
  .banner2{
    height: 140vh;
    background-image: url("./assets/cachorro2.jpg");
    background-size: cover;
    background-position: center;
  }
  .banner3{
    height: 140vh;
    background-image: url("./assets/cachorro3.jpg");
    background-size: cover;
    background-position: center;
  }
.folder1{
    display: flex;
    align-content: center;

    flex-direction: column;
    
}
h2{
    text-align: center;

}



  

  